<div [ngClass]="{
    'free-spot': spot.isFree,
    'occupied-spot': !spot.isFree,
    'small-spot': spot.size === 'SMALL',
    'big-spot': spot.size === 'BIG'
    }">
    <span><b>{{spot.number}}</b></span>
</div>


