<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color-dark fixed-top" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand> 
      <a class="navbar-brand"> <img src="../../../assets/parking.png" /> </a>
    </mdb-navbar-brand>
  
    <!-- Collapsible content -->
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let item of menuItems">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="{{item.value}}" title="{{item.key}}"><span ><fa-icon [icon]=item.iconClass></fa-icon>{{item.key}} </span></a>
        </li>
  
      </ul>
      <!-- Links -->
  
      <ul class="navbar-nav ml-auto nav-flex-icons">
            <!-- <li *ngIf="authService.authenticated" class="nav-item">
              <a class="nav-link waves-effect waves-light" 
                style="color: #33b5e5" (click)="logout()"
                 title="Log out">
                 <i class="fas fa-sign-out-alt"></i></a>
            </li> -->
      </ul>
    <!-- Collapsible content -->
  
  </mdb-navbar>

