.free-spot {
    height: 80px;
    width: 50px;
    background-color: rgb(96, 158, 33);
    border-width:2px;
    border-style:solid;
    border-color:black;
}
.occupied-spot {
    height: 80px;
    width: 50px;
    background-color: rgb(202, 60, 25);
    border-width:2px;
    border-style:solid;
    border-color:black;
}
