<div [ngClass]="{
    'free-spot': parkingSpot.available,
    'occupied-spot': (!parkingSpot.available || parkingSpot.rented)
    }">
    <span><b>{{parkingSpot.number}}</b></span>
</div>
<div>
    <button (click)="rentParkingSpot()" class="btn btn-sm btn-link" [disabled]="parkingSpot.rented" title="allow a parking spot to be rented"> 
                        <span> 
                        {{!parkingSpot.rentable? 'Enable': 'Disable'}} </span> 
                        <fa-icon [icon]="['fas','money-bill-wave']"></fa-icon></button>
</div>

 