<div class="container col-md-10 col-sm-10 col-lg-10 " *ngIf="parkingLot">
  <h3>PARKING LOT</h3>
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel *ngFor="let floor of parkingLot.floorList">
      <ng-template ngbPanelTitle>
        <span>&#9733; <b> Floor - {{floor.number}}</b> &#9733;</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <app-floor [floor]="floor"></app-floor>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

<hr>
<h4> Find spot for </h4>
<div class="row col-md-10"> 
  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="CAR"> Car
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="MOTORBIKE"> Motorbike
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="BUS"> Bus
    </label>
  </div>
  <div class="col-md-1"> </div>
  <button type="button" class="btn btn-success" (click)="findSpot()">Search</button> 
</div>
<hr>
<div *ngIf="spot">
  <p>Floor: {{spot.floorNumber}}</p>
  <p>Row: {{spot.rowNumber}}</p>
  <p>Spot: {{spot.number}}</p>
</div>
<div *ngIf="!spot && searchClicked">
  <p>No spots available at this time</p>
</div>
</div>


