<div class="row col-md-10">
    <div class="col-md-2">
    <h3> Row {{row.number}} </h3>
    </div>
    <div class="row col-md-10" >
        <div *ngFor="let spot of row.spotList" >
            <app-spot [spot]="spot"></app-spot>
        </div>  
    </div>
</div>
