<div>
    <div class="form-group float-label-control">
      <label><span>Street</span></label>
      <input
        type="text"
        class="form-control"
        placeholder="5th Avenue"
        title="Street"
        name="name"
        [(ngModel)]="street"
      />
    </div>
    <div class="form-group float-label-control">
      <label><span>Street number</span></label>
      <input
        type="text"
        class="form-control"
        placeholder="6"
        title="street number"
        [(ngModel)]="streetNo"
        name="streetNo"
      />
    </div>
    <div class="form-group float-label-control">
      <label><span>City</span></label>
      <input
        type="text"
        class="form-control"
        placeholder="Cluj-Napoca"
        title="city"
        [(ngModel)]="city"
        name="city"
      />
    </div>

    <div class="form-group float-label-control">
      <label><span>State</span></label>
      <input
        type="text"
        class="form-control"
        placeholder="Cluj"
        title="state"
        [(ngModel)]="state"
        name="state"
      />
    </div>
    <div class="form-group float-label-control">
      <label><span>Country</span></label>
      <input
        type="text"
        class="form-control"
        placeholder="Romania"
        title="country"
        [(ngModel)]="country"
        name="country"
      />
    </div>
</div>